


  @mixin border {
    border: 1px solid #cccccc; 
  }
  @mixin side-width {
    min-width: 18em;
    max-width: 19em;
  }

  @mixin order-width {
    min-width: 23em;
    max-width: 24em;
    
  }

.main {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  min-height: 90em;
}
.sidebar {

  @include side-width;

  margin-top: 2px;
  padding-bottom: 20px; 
  
}

.header-logo {
  height: 10em;
  
  @include side-width;

}

.fixed-sidebar {
  flex-grow: 1;
  background-color: #1a1a1a;
  //border: 8px solid green;
  @include side-width();
  padding-left: 0.5em;

}

.sidebar-text {
  color: #a6a6a6;
  font-weight: bold;

}

.sidebar-text:hover {
  color: #a6a6a6;
  text-decoration: none;

}

.sidebar-text-box {
  height: 2em;
  margin: auto;
  padding: 0.3em 2em;
  

}
.sidebar-text-box:hover {
  background-color: #333333;
  
}

.sticky {
  position: fixed;
}

.border {
  @include border;
}

.line-menu {
  position: sticky;
  //border: 8px solid blue;
  flex-grow: 5;
  min-height: 100em;
  min-width: 22em;
  
}

.menu-box {
  //@include border();
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  min-height: 15em;
  min-width: 22em;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  margin-top: 0.2em;

}

.menu-box:hover {
  background-color: #f2f2f2;
}

.detail-menu {
  float: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0em 0.5em;
  padding-left: 1.5em;
  padding-top: 0.5em;

}

.img {
  min-width: 14em;
  min-height: 14em;

}

.description {

  width: 20em;
}

.dish-name {
  margin-top: 3.5em;

  
}

.price-qty {
  display: flex;
  margin-top: 6em;

}

.price {
  margin-left: 3em;
  margin-top: 0em;
}

.qty-box {
  margin-left: 5em;
}


.order-line {
  @include order-width();
  flex-grow: 3;
  //border: 2px solid #cccccc;
  min-height: 100em;
  

}

.list-order {
  @include order-width();
  min-height: 10em;
  //border: 1px solid #cccccc;
  bottom: 0px;
  padding: 1em;
  
}

.total-order {
  //@include border();
  top: 100px;
  margin-top: 4em;
}

.price-qty-display {
  display: flex;
  justify-content: space-around;
}
